html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

html {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: -webkit-fill-available;
}

.kontejner2 {
  display: block;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  align-self: center;
  align-items: center;
  width: 400px;
  height: 600px;
  position: relative;
  position: 50px;
  margin: auto;
}

.body {
  flex-grow: 1;
}

.obrazek1 {
  border-radius: 8px 8px 0 0;
  position: 0px;
  flex-wrap: initial;
  order: 1;
  display: block;
  align-self: center;
  max-inline-size: 100%;
  max-width: 100%;
  height: auto;
}

.main {
  flex-grow: 1;
  order: 2;
  background-color: #283e50;
  display: block;
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
}

.nazev {
  flex-grow: 1;
  background-color: #283e50;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  margin: auto;
}
.popis {
  flex-grow: 1;
  align-self: center;
  text-align: center;
  font-family: system-ui;
  padding: 7px;
}
.odkazy1 {
  flex-grow: initial;
  order: 3;
  flex-direction: column;
  display: flex;
  align-self: stretch;
  color: white;
  text-align: center;
  font-family: system-ui;
}
.pravidla1 {
  flex-grow: 1;
  background-color: #1fcca4;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: white;
}

a:hover.pravidla1 {
  background-color: #1cbb96;
}
.hrat1 {
  flex-grow: 1;
  background-color: #0197f6;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: white;
  border-top: #283e50 1px solid;
}
a:hover.hrat1 {
  background-color: #0090e9;
}
/*----------pravidla------------------------*/
.body--pravidla {
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 300px;
  margin: auto;
}

h1,
.nazev--pravidla {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

.main1 {
  flex-grow: 1;
  order: 2;
  background-color: #283e50;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: block;
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
  padding: 20px;
  width: 300px;
}
/*
.odkazy--stranky {
  width: 300px;
}*/
.odkazy--stranky {
  flex-grow: initial;
  flex-direction: column;
  display: flex;
  align-self: stretch;
  color: white;
  text-align: center;
  font-family: system-ui;
}
.uvodni--stranka {
  flex-grow: 1;
  background-color: #1fcca4;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: white;
}
a:hover.uvodni--stranka {
  background-color: #1cbb96;
}

.hrat--stranka {
  flex-grow: 1;
  background-color: #0197f6;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: white;
  border-top: #283e50 1px solid;
}
a:hover.hrat--stranka {
  background-color: #0090e9;
}

.obrazek {
  max-width: 100%;
  height: auto;
}
.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.vycet--obrazek {
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  font-style: italic;
  text-align: center;
}

figcaption {
  font-size: 0.7rem;
  font-family: sans-serif;
}
figure {
  margin: auto;
  padding: 15px;
}

ol li {
  margin-left: 10px;
  padding: 5px;
}

@media (min-width: 540px) {
  .vycet--obrazek {
    flex-direction: row;
    flex-wrap: wrap;
  }
  figure {
    width: 50%;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .main1 {
    width: 500px;
  }
  .odkazy--stranky {
    width: 500px;
  }

  .body--pravidla {
    width: 500px;
  }

  ol li {
    margin-left: 10px;
    padding: 5px;
  }
}
/*-----------------------------hra--------------------------*/

.body--hra {
  max-width: 100vw;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3px;
  align-items: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 500;
}

.hra--kontejner {
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
}

.navigace-ikon-leva {
  display: flex;
  flex-grow: 1;
  text-align: left;
  padding: 1px 0 1px 0;
  margin: 0;
  font-size: 18px;
}
.navigace-ikon-leva img {
  filter: invert(100%);
  width: 0.9em;
  margin-block-end: auto;
}

.hra--navigace-ikon {
  display: flex;
}

.navigace-ikon-prava {
  padding: 6px;
  margin-left: 10px;
  border-radius: 4px;
  margin-bottom: 1px;
}

.navigace-ikon-prava-home {
  background-color: #1fcca4;
  border-radius: 3px;
}
.navigace-ikon-prava-restart {
  background-color: #0197f6;
  border-radius: 3px;
}

.hra--hlavni--obsah {
  min-height: 80vmin;
  width: 100%;
  display: flex;
  line-height: 0;
  flex-wrap: wrap;
  background-color: rgb(226, 207, 211);
  opacity: 0.5;
  border: 2px solid black;
}

button {
  flex-basis: 10%;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border-radius: 0mm;
  border: 2px solid black;
  max-height: initial;
  background-color: transparent;
  cursor: pointer;
}
