html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*.body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-size: cover;
  background-repeat: no-repeat;
} nefungovalo */

html {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: -webkit-fill-available;
}

.kontejner {
  display: block;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  align-self: center;
  align-items: center;
  width: 400px;
  height: 600px;
  position: relative;
  position: 50px;
  margin: auto;
}

.body {
  flex-grow: 1;
}

.obrazek {
  border-radius: 8px 8px 0 0;
  position: 0px;
  flex-wrap: initial;
  order: 1;
  display: block;
  align-self: center;
  max-inline-size: 100%;
}

.main {
  flex-grow: 1;
  order: 2;
  background-color: #283e50;
  display: block;
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
}

.nazev {
  flex-grow: 1;
  background-color: #283e50;
  text-align: center;
  font-family: 'Lobster', italic;
}
.popis {
  flex-grow: 1;
  align-self: center;
  text-align: center;
}
.odkazy {
  flex-grow: initial;
  order: 3;
  flex-direction: column;
  display: flex;
  align-self: stretch;
  color: white;
  text-align: center;
}
.pravidla {
  flex-grow: 1;
  background-color: #1fcca4;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}

:hover.pravidla {
  display: block;
  color: #1cbb96;
  text-decoration-color: white;
}

.hrat {
  flex-grow: 1;
  background-color: #0197f6;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}
:hover .hrat {
  color: #0090e9;
  text-decoration-color: white;
}
