html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*.body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-size: cover;
  background-repeat: no-repeat;
} nefungovalo */

html {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: -webkit-fill-available;
}

.kontejner {
  display: block;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  align-self: center;
  align-items: center;
  width: 400px;
  height: 600px;
  position: relative;
  position: 50px;
  margin: auto;
}

.body {
  flex-grow: 1;
}

.obrazek {
  border-radius: 8px 8px 0 0;
  position: 0px;
  flex-wrap: initial;
  order: 1;
  display: block;
  align-self: center;
  max-inline-size: 100%;
}

.main {
  flex-grow: 1;
  order: 2;
  background-color: #283e50;
  display: block;
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
}

.nazev {
  flex-grow: 1;
  background-color: #283e50;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  margin: auto;
}
.popis {
  flex-grow: 1;
  align-self: center;
  text-align: center;
  font-family: system-ui;
  padding: 7px;
}
.odkazy {
  flex-grow: initial;
  order: 3;
  flex-direction: column;
  display: flex;
  align-self: stretch;
  color: white;
  text-align: center;
  font-family: system-ui;
}
.pravidla {
  flex-grow: 1;
  background-color: #1fcca4;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: white;
}

a:hover.pravidla {
  background-color: #1cbb96;
}
.hrat {
  flex-grow: 1;
  background-color: #0197f6;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: white;
  border-top: #283e50 1px solid;
}
a:hover.hrat {
  background-color: #0090e9;
}

html {
  box-sizing: border-box;
  display: block;
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: -webkit-fill-available;
  color: white;
  font-family: system-ui;
}

*,
::after,
::before {
  box-sizing: inherit;
}

head {
  display: none;
}

body {
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 300px;
  margin: auto;
}

.nazev--pravidla {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

main {
  flex-grow: 1;
  order: 2;
  background-color: #283e50;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: block;
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
  padding: 20px;
  width: 300px;
}

nav {
  width: 300px;
}
.odkazy--stranky {
  flex-grow: initial;
  flex-direction: column;
  display: flex;
  align-self: stretch;
  color: white;
  text-align: center;
  font-family: system-ui;
}
.uvodni--stranka {
  flex-grow: 1;
  background-color: #1fcca4;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: white;
}
a:hover.uvodni--stranka {
  background-color: #1cbb96;
}

.hrat--stranka {
  flex-grow: 1;
  background-color: #0197f6;
  max-inline-size: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: white;
  border-top: #283e50 1px solid;
}
a:hover.hrat--stranka {
  background-color: #0090e9;
}

.obrazek {
  max-width: 100%;
  height: auto;
}
.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.vycet--obrazek {
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  font-style: italic;
  text-align: center;
}

figcaption {
  font-size: 0.7rem;
  font-family: sans-serif;
}
figure {
  margin: auto;
  padding: 15px;
}

ol li {
  margin-left: 10px;
  padding: 5px;
}

@media (min-width: 540px) {
  .vycet--obrazek {
    flex-direction: row;
    flex-wrap: wrap;
  }
  figure {
    width: 50%;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  main {
    width: 500px;
  }
  nav {
    width: 500px;
  }

  body {
    width: 500px;
  }

  ol li {
    margin-left: 10px;
    padding: 5px;
  }
}
